.app-title{
  color: #333;
}
@media (prefers-color-scheme:dark){
  ::ng-deep body{
    background-color: #333;
  }
  .app-title{
    color: white;
  }
}
@media (prefers-color-scheme:light){
  ::ng-deep body{
    color:#333;
  }
}
