/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";



@font-face {
  font-family: 'quranFont';
  src: url("assets/fonts/quranFont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

.quran-text {
  font-family: "quranFont", sans-serif;
}
